<!DOCTYPE html>
<html lang='en'>

<head>
    <title>
        CongVT Web RTC
    </title>
</head>

<body>
    <h1>
        CongVT Start
    </h1>
    <video id="localStream" width="300" controls>

    </video>
</body>
<script>
    // Prefer camera resolution nearest to 1280x720.
    var constraints = { audio: true, video: { width: 1280, height: 720 } };

    navigator.mediaDevices.getUserMedia(constraints)
        .then(stream => {
            const video = document.getElementById("localStream");
            video.srcObject = stream;
            video.onloadeddata = function (e) {
                video.play();
            };

        }).catch(err => condole.log(err));

</script>

</html>